<div>
	<div class="page_title">
			<%= @version.name %>
		<div class='back_btn btn' action='back'></div>
		<div class='home_btn btn' action='page' actionid="category/"></div>
	</div>
	<div class='arrows'>
		<div class='slide_arrow left2 btn' action='prev_slide'></div>
		<div class='slide_arrow right2 btn' action='next_slide'></div>
	</div>
	<div class='image_slider'>
			<ul>
				<li sid="<%= @version.id %>">
					<div class='slider_prices'>
						<div class='price_strip'>
							<div class='top_price'><div><span class='top_price_title'>Tu precio:</span><span class='top_price_value'><%= number_to_currency(@version.list_price,precision: 0) %> M.N.</span> </div></div>
							<div class='price_btn btn' action="show_prices"></div>
						</div>
						<div class='price_list'>
							<ul>
								<li>
									<div class='top_price subprice'><div><span class='top_price_title'>Precio de lista:</span><span class='top_price_value'><%= number_to_currency(@version.list_price,precision: 0) %> M.N.</span> </div>
								</li>
								<li>
									<div class='top_price subprice'><div><span class='top_price_title'>Precio de contado:</span><span class='top_price_value'><%= number_to_currency(@version.list_price,precision: 0) %> M.N.</span> </div>
								</li>
								<li>
									<div class='top_price subprice'><div><span class='top_price_title'>Precio de promoción:</span><span class='top_price_value'><%= number_to_currency(@version.list_price,precision: 0) %> M.N.</span> </div>
								</li>
							</ul>

						</div>
						<div class="dimmer"></div>
					</div>
					<div class='price_spacer'></div>
					<div class='model_title center_elem'><span class='car_name'><%= @car.name %></span> <span class='model_name'><%= @version.name %></span></div>
					<div class='center_elem model_image'>
					<% if (Rails.application.assets.find_asset 'pics/versions/'+@version.id.to_s+'.png') %>
						<img src="/assets/pics/versions/<%= @version.id %>.png" width="204" height="126" />
						<% end %>
					</div>
					<div class='center_elem model_info'><%= @version.description %></div>
					<div class='center_elem share'>
						<div class='share_title'>Comparte tu VW: </div><a href='http://www.facebook.com/sharer/sharer.php?s=100&p[url]=www.configuratuvw.mx&p[images][0]=https%3A%2F%2Fs3.amazonaws.com%2Fconfiguradorvw%2Fautos%2Fthumb_VW_Touareg_V6_FSI_Blanco_Puro.png&p[title]=Volkswagen%20M%C3%A9xico%20-%20Configurador%20de%20autos%20Volkswagen&p[summary]=Conoce%20el%20nuevo%20configurador%20VW%3A%20un%20peque%26ntilde%3Bo%20paso%2C%20una%20gran%20elecci%26oacute%3Bn.%20El%20Volkswagen%20que%20quieres%20con%20el%20precio%20que%20t%26uacute%3B%20eliges%20http%3A%2F%2Fwww.configuratuvw.mx' target='_blank'><div class='fb_btn btn'></div></a>
						<a href='http://twitter.com/share?text=Nuevo%20configurador%20VW%3A%20el%20auto%20que%20quieres%20con%20el%20precio%20que%20t%C3%BA%20eliges%20http%3A%2F%2Fwww.configuratuvw.mx' target='_blank'><div  class='tw_btn btn'></div>
						</a>
					</div>
				</li>
			</ul>
	</div>
	<div class='large_btn btn config_btn small_tx' action='popper' actionid="">
		<div class='left'></div>
		<div class='center'>Obten atención personalizada</div>
		<div class='right'></div>
		<div class='attention'></div>
	</div>	
	<div class='large_btn btn config_btn small_tx' action='popper' actionid="">
		<div class='left'></div>
		<div class='center'>Calcula tu financiamiento</div>
		<div class='right'></div>
		<div class='calculator'></div>
	</div>
	<div class='large_btn btn config_btn' action='save' actionid="">
		<div class='left'></div>
		<div class='center'>Guarda tu VW</div>
		<div class='right'></div>
	</div>
	<div class='large_btn ready_btn btn' action='pagewurl' actionid="category/" url="./">
		<div class='left'></div>
		<div class='center'>Configura otro VW</div>
		<div class='right'></div>
	</div>
</div>