<ul class='car_list'>
<% if(@versions.size > 0) %>
<% @versions.each do |v| %>
	<li class='btn' action='pagewurl' actionid='transmission/?car_id=<%= v.car_id %>&sid=<%= v.id %>' url='<%= v.car_name%>'>
		<div class="car_img">
			<% if (Rails.application.assets.find_asset 'pics/versions/'+v.id.to_s+'.png') %>
				<img src="/assets/pics/versions/<%=v.id %>.png" width="130" height="64" />
			<% end %>
		&nbsp;</div>
		<div>
			<div><%= v.car_name %></div>
			<div class='subname'><%= v.name %></div>
			<div class="search_price_name"><span>Desde: </span><span class='car_price_value'><%= number_to_currency(v.list_price,precision: 0) %></span> </div>
		</div>
		<div></div>
	</li>
<% end %>
<% else %>
	<li class='notfound'>No se encontraron resultados</li>
<% end %>
</ul>