<div>
	<div class="page_title">
			Paquetes
		<div class='back_btn btn' action='back'></div>
	</div>
	<div class='arrows'>
		<div class='slide_arrow left2 btn' action='prev_slide'></div>
		<div class='slide_arrow right2 btn' action='next_slide'></div>
	</div>
	<div class='image_slider'>
			<ul>
				<% @services.each do |s|
					img = ""
					infoclass = ""
					if (Rails.application.assets.find_asset 'pics/services/'+s.id.to_s+'.png')
						 img = '<img src="/assets/pics/services/'+s.id.to_s+'.png" width="212" height="130" />' 
						 infoclass = "white"
					end
				 %>
				<li sid="<%= s.id %>">
					<div class='slider_prices'>
						<div class='review_list'>
							<ul>
								<li>
									<div>Modelo/Versión</div>
									<div><%= @car.name %> <%=@version.name %></div>
								</li>
								<li>
									<div>Transmisión</div>
									<div><%= @transmission.name %> </div>
								</li>
								<li>
									<div>Color</div>
									<div><%= @color.name %> </div>
								</li>
								<li>
									<div>Vestiduras</div>
									<div><%= @interior.name %> </div>
								</li>
								<li>
									<div>Paquetes</div>
									<div>... </div>
								</li>
								<li>
									<div>Servicios</div>
									<div> ... </div>
								</li>
							</ul>
						</div>
						<div class='price_strip'>
							<div class='top_price first'><div><span class='top_price_title'>Tu precio:</span><span class='top_price_value'><%= number_to_currency(@version.list_price*@transmission.price_up*@color.price_up*@interior.price_up,precision: 0) %></span> </div></div>
							<div class='top_price last'><div><span class='top_price_title'>Precio<br/>de lista:</span><span class='top_price_value'><%= number_to_currency(@version.list_price*@transmission.price_up*@color.price_up*@interior.price_up,precision: 0) %></span></div></div>
							<div class='price_btn btn' action="show_review"></div>
						</div>
						<div class="dimmer"></div>
					</div>
					<div class='price_spacer'></div>
					<div class='slide_title center_elem'>Elige servicio</div>
					<div class='trans_title center_elem'><%= s.name %></div>
					<div class='center_elem service_image' >
						<%= raw img %>
					
					</div>
					<div class='center_elem trans_info <%= infoclass %>'><%= s.description %></div>
					<div class='large_btn btn config_btn' action='select' actionid="<%= s.id %>">
						<div class='left'></div>
						<div class='center'>Agregar</div>
						<div class='right'></div>
						<div class='check off'></div>
					</div>
				</li>
				<% end %>
			</ul>
	</div>
	<div class='large_btn btn config_btn' action='page_slide_select' actionid="review/?car_id=<%= @car.id %>&version_id=<%= @version.id %>&transmission_id=<%= @transmission.id %>&color_id=<%= @color.id %>&interior_id=<%= @interior.id %><%= @package_id_str %>">
		<div class='left'></div>
		<div class='center'>Siguiente</div>
		<div class='right'></div>
	</div>
	<div class='large_btn ready_btn btn' action='page_slide_select' actionid="review/?car_id=<%= @car.id %>&version_id=<%= @version.id %>&transmission_id=<%= @transmission.id %>&color_id=<%= @color.id %>&interior_id=<%= @interior.id %><%= @package_id_str %>">
		<div class='left'></div>
		<div class='center'>Listo</div>
		<div class='right'></div>
	</div>
</div>
