<div>
	<div class="page_title">
			Paquetes
		<div class='back_btn btn' action='back'></div>
	</div>
	<div class='arrows'>
		<div class='slide_arrow left2 btn' action='prev_slide'></div>
		<div class='slide_arrow right2 btn' action='next_slide'></div>
	</div>
	<div class='image_slider'>
			<ul>
				<% @services.each do |s|
					img = ""
					infoclass = ""
					if (Rails.application.assets.find_asset 'pics/services/'+s.id.to_s+'.png')
						 img = '<img src="/assets/pics/services/'+s.id.to_s+'.png" width="212" height="130" />' 
						 infoclass = "white"
					end
				 %>
				<li sid="<%= s.id %>" name="<%= s.name %>">
					<div class='slider_prices'>
						<div class='price_strip'>
							<div class='top_price'><div><span class='top_price_title'>Tu precio:</span><span class='top_price_value'><%= number_to_currency(@version.list_price*@transmission.price_up*@color.price_up*@interior.price_up,precision: 0) %> M.N.</span> </div></div>
							<div class='price_btn btn' action="show_prices"></div>
						</div>
						<div class='price_list'>
							<ul>
								<li>
									<div class='top_price subprice'><div><span class='top_price_title'>Precio de lista:</span><span class='top_price_value'><%= number_to_currency(@version.list_price*@transmission.price_up*@color.price_up*@interior.price_up,precision: 0) %> M.N.</span> </div>
								</li>
								<li>
									<div class='top_price subprice'><div><span class='top_price_title'>Precio de contado:</span><span class='top_price_value'><%= number_to_currency(@version.list_price*@transmission.price_up*@color.price_up*@interior.price_up,precision: 0) %> M.N.</span> </div>
								</li>
								<li>
									<div class='top_price subprice'><div><span class='top_price_title'>Precio de promoción:</span><span class='top_price_value'><%= number_to_currency(@version.list_price*@transmission.price_up*@color.price_up*@interior.price_up,precision: 0) %> M.N.</span> </div>
								</li>
							</ul>

						</div>
						<div class="dimmer"></div>
					</div>
					<div class='price_spacer'></div>
					<div class='slide_title center_elem'>Elige servicio</div>
					<div class='trans_title center_elem'><%= s.name %></div>
					<div class='center_elem service_image' >
						<%= raw img %>
					
					</div>
					<div class='center_elem trans_info <%= infoclass %>'><%= s.description %></div>
					<div class='large_btn btn config_btn' action='select' actionid="<%= s.id %>">
						<div class='left'></div>
						<div class='center'>Agregar</div>
						<div class='right'></div>
						<div class='check off'></div>
					</div>
				</li>
				<% end %>
			</ul>
	</div>
	<div class=' navcount'>
		<ul>
		<% @services.each do |s1| %>
			<li class='off'>&nbsp;</li>
		<% end %>
		</ul>
	</div>
	<div class='large_btn btn config_btn' action='reivew_select' actionid="review/?car_id=<%= @car.id %>&version_id=<%= @version.id %>&transmission_id=<%= @transmission.id %>&color_id=<%= @color.id %>&interior_id=<%= @interior.id %><%= @package_id_str %>" review="services">
		<div class='left'></div>
		<div class='center'>Siguiente</div>
		<div class='right'></div>
	</div>
	<div class='large_btn ready_btn btn' action='review_select' actionid="review/?car_id=<%= @car.id %>&version_id=<%= @version.id %>&transmission_id=<%= @transmission.id %>&color_id=<%= @color.id %>&interior_id=<%= @interior.id %><%= @package_id_str %>" review="services">
		<div class='left'></div>
		<div class='center'>Listo</div>
		<div class='right'></div>
	</div>
</div>
