<div>
	<div class="page_title">
			<%= @car.name %>
		<div class='back_btn btn' action='back'></div>
	</div>
	<ul class='image_slider'>
	<li> 
		<div class='model_title'><span class='car_name'><%= @car.name %></span> <span class='model_name'>Sport Style 1.4</span></div>
		<div class='price'><span class='price_from'>Desde: </span><span class='price_value'>$771,350.00</span></div>
		<div><img src="/assets/pics/troca.jpg" width="220" height="130" /></div>
		<div>Suspensión delantera y trasera, A/C con temperatura independiente en dos zonas, volante multifuncionales en piel con calefacción y paletas de cambio, y más.</div>
	</li>
	<li> 
		<div class='model_title'><span class='car_name'><%= @car.name %></span> <span class='model_name'>Sport Style 1.4</span></div>
		<div class='price'><span class='price_from'>Desde: </span><span class='price_value'>$771,350.00</span>
		<div><img src="/assets/pics/troca.jpg" width="220" height="130" /></div>
		<div>Suspensión delantera y trasera, A/C con temperatura independiente en dos zonas, volante multifuncionales en piel con calefacción y paletas de cambio, y más.</div>
	</li>
	<li> 
		<div class='model_title'><span class='car_name'><%= @car.name %></span> <span class='model_name'>Sport Style 1.4</span></div>
		<div class='price'><span class='price_from'>Desde: </span><span class='price_value'>$771,350.00</span>
		<div><img src="/assets/pics/troca.jpg" width="220" height="130" /></div>
		<div>Suspensión delantera y trasera, A/C con temperatura independiente en dos zonas, volante multifuncionales en piel con calefacción y paletas de cambio, y más.</div>
	</li>
</ul>
<div class='config_btn btn' action='page_extra' actionid="transmission/?car_id=<%= @car.id %>">Configurar</div>
<div class='ready_btn btn' action='page_extra' actionid="transmission/?car_id=<%= @car.id %>">Listo</div>
</div>
