<div>
	<div class="page_title">
			<%= @car.name %>
		<div class='back_btn btn' action='back'></div>
	</div>
	<div class='arrows'>
		<div class='slide_arrow left2 btn' action='prev_slide'></div>
		<div class='slide_arrow right2 btn' action='next_slide'></div>
	</div>
	<div class='image_slider'>
			<ul>
				<% @versions.each do |v| %>
				<li sid="<%= v.id %>"> 
					<div class='slide_title center_elem'>Elige la versión</div>
					<div class='model_title center_elem'><span class='car_name'><%= @car.name %></span> <span class='model_name'><%= v.name %></span></div>
					<div class='price center_elem'><span class='price_from'>Desde: </span><span class='price_value'><%= number_to_currency(v.list_price,precision: 0) %></span></div>
					<div class='center_elem model_image'>
						<% if (Rails.application.assets.find_asset 'pics/versions/'+v.id.to_s+'.png') %>
						<img src="/assets/pics/versions/<%= v.id %>.png" width="204" height="126" />
						<% end %>
					</div>
					<div class='center_elem model_info'><%= v.description %></div>
				</li>
				<% end %>
			</ul>
	</div>
	<div class='large_btn btn config_btn' action='page_slide' actionid="transmission/?car_id=<%= @car.id %>">
		<div class='left'></div>
		<div class='center'>Configurar</div>
		<div class='right'></div>
	</div>
	<div class='large_btn ready_btn btn' action='page_slide' actionid="transmission/?car_id=<%= @car.id %>">
		<div class='left'></div>
		<div class='center'>Listo</div>
		<div class='right'></div>
	</div>
</div>
