<div>
	<div class="page_title">
			<%= @car.name %>
		<div class='back_btn btn' action='back'></div>
	</div>
	<div class='arrows'>
		<div class='slide_arrow left btn' action='prev_slide'></div>
		<div class='slide_arrow right btn' action='next_slide'></div>
	</div>
	<div class='image_slider'>
			<ul>
				<% for i in 0..2 %>
				<li> 
					<div class='slide_title center_elem'>Elige la versi칩n <%= i %></div>
					<div class='model_title center_elem'><span class='car_name'><%= @car.name %></span> <span class='model_name'>Sport Style 1.4</span></div>
					<div class='price center_elem'><span class='price_from'>Desde: </span><span class='price_value'>$771,350.00</span></div>
					<div class='center_elem model_image'><img src="/assets/pics/troca.jpg" width="220" height="130" /></div>
					<div class='center_elem model_info'>Suspensi칩n delantera y trasera, A/C con temperatura independiente en dos zonas, volante multifuncionales en piel con calefacci칩n y paletas de cambio, y m치s.</div>
				</li>
				<% end %>
			</ul>
	</div>
	<div class='large_btn btn config_btn' action='page_extra' actionid="transmission/?car_id=<%= @car.id %>">
		<div class='left'></div>
		<div class='center'>Configurar</div>
		<div class='right'></div>
	</div>
	<div class='large_btn ready_btn btn' action='page_extra' actionid="transmission/?car_id=<%= @car.id %>">
		<div class='left'></div>
		<div class='center'>Listo</div>
		<div class='right'></div>
	</div>
</div>
